#page_container {
     
    width: 950px;
    border: 1px solid black;
     padding:2px;
  font-family;'bitter'sirif; 
    

}

.container {
    display:flex;
}

.header {
    width:930px;
    height:50px;
color:#000000;
      background: -webkit-linear-gradient(#99ffff, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#99ffff, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#99ffff, #ffffff); /* For Firefox 3.6 to 15 */
    background:linear-gradient(#99ffff, #ffffff);/* Standard syntax (must be last...not working ifonly with last ine of code !!) */
    text-align: center;
     padding: 8px;
    font-family;'bitter'sirif;
    justify-content:center;
}



.leftcol {
     display: flex;
    flex-direction: column;
    width:149px;
    color:#ff0000;
     background-color: #ffff00;
     padding:2px 2px 4px 2px;
     margin:1px 2px 4px 2px;
/*    top  right  bottom  left*/
    font-family;'bitter'sirif;
      background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffff00, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  #ffff00, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  #ffff00, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #ffff00, #ffffff); /* Standard syntax */
}
 .leftcol img {
    width:70px;
     position:relative;
     left: 4px;
}    
.leftcol text{
    width: 70px;
    position:relative;
     right: 4px;
}




.front_page_body {
    width:780px;
       height:583px;
        font-size:28px; 
        font-family;'bitter'sirif;
     padding:2px 2px 2px 2px;
     margin:2px 2px 2px 2px;
     background-image: url("../image/lga_JFK_hi_way_to_kew-gardens_780px.png");
             background-repeat:no-repeat;
}
    
.page2_body {
     width:780px;
       height:583px;
        font-size:28px; 
        font-family;'bitter'sirif;
     padding:2px 2px 2px 2px;
     margin:2px 2px 2px 2px;
   
    background-image: url("../image/p2_2_nyc_subway_bkground_lirr.png");
        background-repeat:no-repeat;
    }
        
    .page3_body {
     width:780px;
       height:583px;
        font-size:28px; 
        font-family;'bitter'sirif;
     padding:2px 2px 2px 2px;
     margin:2px 2px 2px 2px;
   
    background-image: url("../image/Q10_bus_map_bkground_pg3.png");
        background-repeat:no-repeat;
    }    
       


  .page4_body {
     width:780px;
       height:583px;
        font-size:28px; 
        font-family;'bitter'sirif;
     padding:2px 2px 2px 2px;
     margin:2px 2px 2px 2px;
   
    background-image: url("../image/pg4%20LIRR%20Kew%20Gardens%20neighbor%20bkground.png");
        background-repeat:no-repeat;
    } 
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background picture size  780px x 583px */
}


.footer {
       width:930px;
    height:150px;
color:#000000;
      background: -webkit-linear-gradient(#ffffff,#99ffff ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff,#99ffff ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff,#99ffff); /* For Firefox 3.6 to 15 */
    background:linear-gradient(#ffffff,#99ffff);/* Standard #ffffff,#99ffffsyntax (must be last...not working ifonly with last ine of code !!) */
    text-align: center;
     padding: 8px;
    margin:2px;
    font-family;'bitter'sirif;
    justify-content:center;
}

.lga  {
    position: relative;
    left:180px;
}

.jfk  {
    position: relative;
    left:125px;
}


/*    small pix size*/
    ```````````````````````````````````````````````````````````````````

/*
  below are scraps  
      background-color: #004d00;
  background-color:skyblue;
      display:flex;
   flex-direction:column;
    flex-wrap: wrap;
         display:flex;
   flex-direction:column;
    flex-wrap: wrap;
     background-image: url("../image/");*/
